
<h2>{{booksShowCtrl.book.title}}</h2>

<hr>
    <div class="row">

      <div class="col-md-3 col-xs-12 thumbnail">
        <img class="img-responsive col-m-4" ng-src={{booksShowCtrl.book.image}} alt="Book image">
      </div>

      <div class="col-md-9 col-xs-12">
          <ul class="list-group form-inline">
            <li class="list-group-item">

              <h5 class="inline-header">Title:</h5>
              <span ng-hide="editing">{{booksShowCtrl.book.title}}</span>
              <input ng-show="editing" ng-model="booksShowCtrl.book.title" type="text" class="form-control input-md">

              <h5 class="inline-header">Author:</h5>
              <span ng-hide="editing">{{booksShowCtrl.book.author}}</span>
              <input ng-show="editing" ng-model="booksShowCtrl.book.author" type="text" class="form-control input-md">

              <h5 class="inline-header">Release:</h5>
              <span ng-hide="editing">{{booksShowCtrl.book.releaseDate}}</span>
              <input ng-show="editing" ng-model="booksShowCtrl.book.releaseDate" type="text" class="form-control input-md">

            </li>
          </ul>
          <button class='btn btn-danger' ng-click="booksShowCtrl.deleteBook(book)">Delete Album</button>

          <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Album</button>
          <button class='btn btn-success' ng-show="editing" ng-click="booksShowCtrl.editingBook(book); editing = false">Save Changes</button>

  </div>



</div>
</div>
