<h2>{{booksShowCtrl.book.title}}</h2>
<hr>
<div ng-repeat="book in booksShowCtrl.books">
    <div class="row">

      <div class="col-md-3 col-xs-12 thumbnail">
        <img src="{{book.image}}" alt="book image">
      </div>

      <div class="col-md-9 col-xs-12">
          <ul class="list-group form-inline">
            <li class="list-group-item">
              <h5 class="inline-header">Title:</h5>
              <span>{{book.title}}</span>
              <h5 class="inline-header">Author:</h5>
              <span>{{book.author}}</span>
              <h5 class="inline-header">Release:</h5>
              <span>{{book.releaseDate}}</span>
            </li>
          </ul>
  </div>



</div>



<!-- Here, add the display of the book info,
     the buttons for editing or deleting,
     the form and buttons that will show if you
     click edit. Don't forget that all of those
     buttons and forms will need some angular
     functionality! -->
